---
import Layout from '../layouts/Layout.astro';
import Title from '../components/title';
---

<Layout title="Welcome to Astro.">
	<Title client:load></Title>
</Layout>

<style>
	.container {
		text-align: center;
	}
</style>
