.ball {
    position: absolute;
    filter: blur(40px);
    background-image: linear-gradient(hsl(158, 82%, 57%), hsl(252, 82%, 57%));
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: rotate 10s cubic-bezier(0.4, 0.2, 0.2, 0.4) infinite,               colorShift 15s infinite;
    transform: translate(-50%, ) rotate(0deg);
    -webkit-animation: rotate 10s cubic-bezier(0.4, 0.2, 0.2, 0.4) infinite,               colorShift 15s infinite;
    -webkit-transform: translate(-50%, ) rotate(0deg);
    -moz-transform: translate(-50%, ) rotate(0deg);
    -ms-transform: translate(-50%, ) rotate(0deg);
    -o-transform: translate(-50%, ) rotate(0deg);
    -webkit-filter: blur(40px);

    z-index: 1;
}
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes colorShift {
    0%, 100% {
      background-size: 100% 100%;
      background-position: 0% 0%;
    }
    50% {
      background-size: 150% 150%;
      background-position: 50% 50%;
    }
  }
  